* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8ffee;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "gooddog";
  src: url(fonts/gooddog.ttf);
}

h2 {
  font-family: "gooddog";
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main_screen {
  width: 100%;
  height: 1080px;
  background-image: url(img/BG.png);
  display: flex;
  flex-direction: column;
}

.hr {
  width: 100%;
}
.nav {
  height: 140px;
  display: flex;
  justify-content: center;
  gap: 111px;
  align-items: center;
}

.container {
  max-width: 1440px;
}

.nav a {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main_screen__text {
  display: flex;
  justify-content: space-between;
}

.left-content {
  display: flex;
  width: 632px;
  height: 78px;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 222px;
  padding-left: 320px;
}

.b-text {
  color: #fff;
  font-size: 28px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

.s-text {
  color: #fff;
  font-size: 18px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 28px;
}

.btn-top {
  padding-top: 42px;
}
.btn-top button {
  display: inline-flex;
  padding: 20px 60px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 70px;
  background: var(
    --gradient-1,
    radial-gradient(
      115.09% 63.04% at 37.83% 23.13%,
      rgba(158, 255, 0, 0.6) 0%,
      rgba(255, 229, 0, 0.6) 63.05%
    ),
    linear-gradient(306deg, #00ff38 0%, #fff500 100%)
  );

  /* Shadow 1 */
  box-shadow: 0px 20px 40px 0px rgba(255, 245, 11, 0.7);
  color: var(--text-color-1, #2d2d2d);
  font-size: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.right-content {
  padding-top: 450px;
}

.description_house {
  display: flex;
  flex-direction: column;
}

.desc_heading {
  padding-top: 46px;
  padding-left: 320px;
}

.desc_p {
  padding-top: 42px;
  padding-left: 588px;
  width: 743px;
  text-align: center;
}

.desc-house {
  padding-left: 458px;
  padding-top: 42px;
  height: 600px;
}

.button {
  padding-top: 42px;
  padding-left: 795px;
}
.button button {
  border-radius: 70px;
  border: 1px solid var(--text-color-1, #2d2d2d);
  background: var(
    --gradient-1,
    radial-gradient(
      115.09% 63.04% at 37.83% 23.13%,
      rgba(158, 255, 0, 0.6) 0%,
      rgba(255, 229, 0, 0.6) 63.05%
    ),
    linear-gradient(306deg, #00ff38 0%, #fff500 100%)
  );
  box-shadow: 2px 6px 12px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 60px;
  align-items: flex-start;
  gap: 10px;
  color: var(--text-color-1, #2d2d2d);
  font-size: 20px;
  font-family: Open Sans;
}

.desc-text {
  width: 1115px;
  padding-top: 110px;
  padding-left: 344px;
}

.advantages-h2 {
  margin-left: 1252px;
}
.left-card {
  display: flex;
}

.left-card_content {
  width: 480px;
  text-align: center;
  display: flex;
  width: 520px;
  padding: 20px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #2d2d2d;
  background: #e5fb65;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    7px 9px 24px 0px rgba(0, 0, 0, 0.1), 28px 34px 44px 0px rgba(0, 0, 0, 0.09),
    64px 77px 60px 0px rgba(0, 0, 0, 0.05),
    113px 137px 71px 0px rgba(0, 0, 0, 0.01),
    177px 214px 78px 0px rgba(0, 0, 0, 0);
  margin-bottom: 36px;
}

.description_advantages {
  display: flex;
  margin-top: 110px;
  justify-content: space-around;
}

.left-card_content h3 {
  color: #2d2d2d;
  text-align: center;
  font-size: 18px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.left-card img {
  width: 125px;
  height: 125px;
  margin-right: 75px;
}
.left-card_content p {
  color: #2d2d2d;
  text-align: center;
  font-size: 18px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.advantages-right img {
  height: 540px;
}

.right-card {
  display: flex;
  width: 405px;
  padding: 20px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #2d2d2d;
  background: #fdffa4;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    6px 6px 19px 0px rgba(0, 0, 0, 0.1), 25px 24px 35px 0px rgba(0, 0, 0, 0.09),
    57px 54px 47px 0px rgba(0, 0, 0, 0.05),
    101px 96px 56px 0px rgba(0, 0, 0, 0.01),
    158px 151px 61px 0px rgba(0, 0, 0, 0);
  color: #2d2d2d;
  text-align: center;
  font-size: 18px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
}

.card-box_right {
  margin-top: 30px;
}

.BG_slider {
  margin-top: 110px;
  height: 1138px;
  background-image: url(img/BG\ slider.png);
  background-repeat: no-repeat;
}

.BG_slider h2 {
  padding-left: 1330px;
  padding-top: 85px;
  color: #fff;
  font-size: 48px;
  font-family: GoodDog;
  font-weight: 400;
}
.slider {
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: 294px;
}

.slider-left,
.slider-right {
  display: flex;
  padding: 20px 25px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 50px;
  background: var(
    --gradient-2,
    linear-gradient(180deg, #86fd29 0%, #fff502 100%)
  );

  /* Shadow 1 */
  box-shadow: 0px 20px 40px 0px rgba(255, 245, 11, 0.7);
}

.slider-img {
  padding: 0 70px;
}
